body {
    margin: 0;
    font-family: 'Avenir', sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px 0;
    background: white;
}

header h1 {
    top: auto;
    font-size: 45px;
    font-weight: normal;
    font-family: 'Avenir', sans-serif;
    color: #000000;
    margin: 0;
}

.filter-button {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: auto;
    right: 20px;
    background: none;
    border: none;
    color: #131313;
    font-size: 15px;
    cursor: pointer;
}

.filter-button:hover {
    color: #131313;
    font-weight: bold;
}

.filter-popup {
    position: fixed;
    top: 100px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 400px;
    padding: 20px;
    z-index: 100;
}

.hidden {
    display: none;
}

.filter-content {
    display: flex;
    font-family: Montserrat, sans-serif;
    color: #131313;
    flex-direction: column;
    gap: 10px;
}

.filter-content h3 {
    margin: 0 0 5px;
    font-family: 'Avenir', sans-serif;
    font-size: 10px;
}

.filter-content label {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Avenir', sans-serif;
    display: flex;
    flex-direction: column;
}

.filter-content label {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Avenir', sans-serif;
    line-height: 1.4;
    color: #555;
    margin-bottom: 10px;
}

.filter-content input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.filter-content input[type="number"]:focus {
    border-color: #E6CA97;
    outline: none;
}

.apply-button {
    padding: 10px;
    background-color: #878585;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #E6CA97;
}

#product-slider {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider-button {
    position: relative;
    top: 50%;
    color: #000000;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    background: none;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

#product-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex: 1;
    padding: 10px 0;
}

.product {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    display: inline-block;
    background: white;
    border-radius: 8px;
    width: 300px;
    flex-shrink: 0;
    scroll-snap-align: start;
    padding: 15px;
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


.product h2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.product .price {
    font-size: 15px;
    color: #000000;
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 300;

}

.color-picker {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 5px;
}

.color-picker button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-picker button:hover {
    transform: scale(1.2);
}

button.yellow {
    background-color: #E6CA97;
}

button.rose {
    background-color: #E1A4A9;
}

button.white {
    background-color: #D9D9D9;
}

.color-picker button.active {
    outline: 2px solid white;
    box-shadow: 0 0 0 3px black;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 1.5rem;
    color: #E6CA97;
    margin: 0 2px;
    
}

.star.empty {
    color: #878585;
    margin: 0 2px;
    font-size: 1.5rem;

}

.star-score {
    font-size: 14px;
    color: #555;
    margin-left: 8px;
    margin-top: 10px;
    font-family: 'Avenir Book', sans-serif;
}


